<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="profile-dm">
  <template>
    <brum-global-variable key="userIdGlob" value="{{userIdGlob}}"></brum-global-variable>
    <cells-generic-dp
      id="updateUser"
      host="http://localhost:3000"
      path="goliathnationalbank/v1/users"
      method="PUT"
      on-request-success="_onRequestSuccessUpdateUser"
      on-request-error="_onRequestErrorUpdateUser">
    </cells-generic-dp>

    <cells-generic-dp
      id="getUser"
      host="http://localhost:3000"
      method="GET"
      on-request-success="_onRequestSuccessGetUser"
      on-request-error="_onRequestErrorGetUser">
    </cells-generic-dp>
  </template>

  <script>
    {
      class ProfileDM extends Polymer.Element {
        static get is() {
          return 'profile-dm';
        }

        static get properties() {
          return {
            userIdGlob: {
              type: Number
            }
          };
        }
        _onRequestSuccessUpdateUser(data) {
          console.log('data: ' + data);
          this.dispatchEvent(new CustomEvent('doUpdateUser-success', data));
        }

        _onRequestErrorUpdateUser(error) {
          console.log('error: ' + error);
          this.dispatchEvent(new CustomEvent('doUpdateUser-error', error));
        }

        doUpdateUser(user) {
          console.log('data.userIdGlob: ' + this.userIdGlob);
          console.log('user: ' + user);
          console.log('user.first_name: ' + user.first_name);
          console.log('user.last_name: ' + user.last_name);
          console.log('user.email: ' + user.email);
          console.log('user.password: ' + user.password);

          this.$.updateUser.body = JSON.stringify(user);
          this.$.updateUser.path = 'goliathnationalbank/v1/users/' + this.userIdGlob;
          this.$.updateUser.generateRequest();
          this.dispatchEvent(new Event('doUpdateUser-start'));
        }

        _onRequestSuccessGetUser(data) {
          console.log('data: ' + data);
          this.dispatchEvent(new CustomEvent('doGetUser-success', data));
        }

        _onRequestErrorGetUser(error) {
          console.log('error: ' + error);
          this.dispatchEvent(new CustomEvent('doGetUser-error', error));
        }

        doGetUser(user) {
          console.log('data.userIdGlob: ' + this.userIdGlob);
          this.$.getUser.path = 'goliathnationalbank/v1/users/' + this.userIdGlob;
          this.$.getUser.generateRequest();
          this.dispatchEvent(new Event('doGetUser-start'));
        }
      }

      customElements.define(ProfileDM.is, ProfileDM);
    }
  </script>
</dom-module>
