<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">


<dom-module id="register-vw">

  <template is="dom-bind" id="register-view">
    <style>
    </style>
    <template is="dom-if" if="[[error]]">
      <div>
        <cells-icon-message
            type='warning'
            icon="coronita:alert"
            icon-label="Warning"
            icon-size="26"
            message="[[error]]">
        </cells-icon-message>
      </div>
    </template>
    <p>
      <cells-molecule-input id="idFirstName" label="Nombre" type="text" value="{{firstName}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idLastName" label="Apellidos" type="text" value="{{lastName}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idEmail" label="Email" type="email" value="{{email}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idPassword" label="Password" type="password" value="{{password}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-st-button>
        <button on-click="_onRegister">Aceptar</button>
      </cells-st-button>

      <cells-st-button >
        <button on-click="_onCancelRegister">Cancelar</button>
      </cells-st-button>
    </p>

  </template>

  <script>
    {
      class RegisterVw extends Polymer.Element {
        static get is() {
          return 'register-vw';
        }

        static get properties() {
          return {
            firstName: {
              type: String,
              notify: true
            },
            lastName: {
              type: String,
              notify: true
            },
            email: {
              type: String,
              notify: true
            },
            password: {
              type: String
            },
            error: {
              type: String
            }
          };
        }
        _onRegister() {
          var user = {
            'first_name': this.firstName,
            'last_name': this.lastName,
            'email': this.email,
            'password': this.password
          };
          this.dispatchEvent(new CustomEvent('doRegister', {detail: user}));
        }

        doLoginViewSuccess(data) {
          console.log('data: ' + data);
          this.userName = data.first_name;
          this.email = data.email;
          this.error = null;
        }

        doLoginViewError(error) {
          console.log('error: ' + error);
          this.error = error.msg;
        }

        _onCancelRegister() {
          console.log('onClick cancelar registro ');

          this.dispatchEvent(new Event('doCancelRegister'));
        }
        resetView() {
          this.firstName = null;
          this.lastName = null;
          this.email = null;
          this.password = null;
          this.error = null;
        }
      }
      customElements.define(RegisterVw.is, RegisterVw);
    }
  </script>
</dom-module>
