<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">


<dom-module id="profile-vw">

  <template is="dom-bind" id="profile-view">
    <style>
    </style>
    <template is="dom-if" if="[[error]]">
      <div>
        <cells-icon-message
            type='warning'
            icon="coronita:alert"
            icon-label="Warning"
            icon-size="26"
            message="[[error]]">
        </cells-icon-message>
      </div>
    </template>
    <p>
      <cells-molecule-input id="idFirstName" label="Nombre" type="text" value="{{firstName}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idLastName" label="Apellidos" type="text" value="{{lastName}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idEmail" label="Email" type="email" value="{{email}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idNewPassword" label="Password" type="password" value="{{newPassword}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-st-button>
        <button on-click="_onModify">Modificar</button>
      </cells-st-button>

      <cells-st-button >
        <button on-click="_onCancelModify">Cancelar</button>
      </cells-st-button>
    </p>

  </template>

  <script>
    {
      class ProfileVw extends Polymer.Element {
        static get is() {
          return 'profile-vw';
        }

        static get properties() {
          return {
            firstName: {
              type: String,
              notify: true
            },
            lastName: {
              type: String,
              notify: true
            },
            email: {
              type: String,
              notify: true
            },
            password: {
              type: String
            },
            newPassword: {
              type: String
            },
            error: {
              type: String
            }
          };
        }
        _onModify() {
          console.log('onClick modificar datos personales');
          var user = {
            'first_name': this.firstName,
            'last_name': this.lastName,
            'email': this.email,
            'password': this.password,
            'newPassword': this.newPassword
          };
          this.dispatchEvent(new CustomEvent('doModify', {detail: user}));
        }

        _onCancelModify() {
          console.log('onClick cancelar modificación');
          this.dispatchEvent(new Event('doCancelModify'));
        }

        doViewUser(data) {
          this.firstName = data.first_name;
          this.lastName = data.last_name;
          this.email = data.email;
          this.password = data.password;
          this.newPassword = '';
          this.error = null;
        }

        doViewError(error) {
          console.log('error.msg: ' + error.msg);
          if (error.msg === null) {
            this.error = 'Se ha producido un error técnico. Por favor, vuelve a intentarlo más tarde';
          } else {
            this.error = error.msg;
          }
          console.log('this.error : ' + this.error);
        }
      }
      customElements.define(ProfileVw.is, ProfileVw);
    }
  </script>
</dom-module>
