<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="register-dm">
  <template>

    <cells-generic-dp
      id="postUser"
      host="http://localhost:3000"
      path="goliathnationalbank/v1/users"
      method="POST"
      on-request-success="_onRequestSuccessPostUser"
      on-request-error="_onRequestErrorPostUser">
    </cells-generic-dp>
  </template>

  <script>
    {
      // Define the element's API using an ES2015 class
      class RegisterDM extends Polymer.Element {
        static get is() {
          return 'register-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {

          };
        }
        _onRequestSuccessPostUser(data) {
          console.log('data: ' + data);
          this.dispatchEvent(new CustomEvent('doPostUser-success', data));
        }

        _onRequestErrorPostUser(error) {
          console.log('error: ' + error);
          this.dispatchEvent(new CustomEvent('doPostUser-error', error));
        }

        doPostUser(user) {
          console.log('user: ' + user);
          console.log('user.first_name: ' + user.first_name);
          console.log('user.last_name: ' + user.last_name);
          console.log('user.email: ' + user.email);
          console.log('user.password: ' + user.password);

          this.$.postUser.body = JSON.stringify(user);
          this.$.postUser.generateRequest();
          this.dispatchEvent(new Event('doPostUser-start'));
        }
      }

      // Register the custom element with the browser
      customElements.define(RegisterDM.is, RegisterDM);
    }
  </script>
</dom-module>
