<link rel="import" href="../../../components/cells-movements-list-item/cells-movements-list-item.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">

<dom-module id="transaction-vw">

  <template is="dom-bind" id="transactions">
    <style>
    </style>
    <template is="dom-if" if="[[error]]">
      <div>
        <cells-icon-message
            type='warning'
            icon="coronita:alert"
            icon-label="Warning"
            icon-size="26"
            message="[[error]]">
        </cells-icon-message>
      </div>
    </template>
    <p>
      <cells-st-button>
        <button on-click="_onNewOperation">
          <iron-icon icon="coronita:transfer" class="icon-right"></iron-icon>
          Realizar Operación
        </button>
      </cells-st-button>

      <cells-st-button>
        <button on-click="_onCurrencyConvert">
          <iron-icon icon="coronita:currencyexchange" class="icon-right"></iron-icon>
          Moneda Extranjera
        </button>
      </cells-st-button>

      <cells-st-button>
        <button on-click="_onGoAccounts">
          <iron-icon icon="coronita:account" class="icon-right"></iron-icon>
          Mis Cuentas
        </button>
      </cells-st-button>

      <cells-st-button>
        <button on-click="_onDeleteAccount">
          <iron-icon icon="coronita:close" class="icon-right"></iron-icon>
          Borrar Cuenta
        </button>
      </cells-st-button>

    </p>


    <template is="dom-repeat" items="{{transactions}}">
      <cells-movements-list-item
        date={{item.date}}
        label={{item.label}}
        description={{item.description}}
        parsed-amount={{doObjectAmount(item.amount)}}
        parsed-accounting-balance={{doObjectAccountAmount(item.accountAmount)}}
        category="9999"
        category-description="Pendiente de categorizar">
      </cells-movements-list-item>
    </template>
  </template>

  <script>
    {
      class TransactionVw extends Polymer.Element {
        static get is() {
          return 'transaction-vw';
        }

        static get properties() {
          return {
            transactions: {
              type: Object
            },
            error: {
              type: String
            }
          };
        }
        doTransactionVisualizeSuccess(data) {
          console.log('Success TransactionVisualizeSuccess: ' + data);
          for (var i = 0; i < data.length; i++) {
            if (data[i].type === 'I') {
              data[i].label = 'Ingreso';
            } else if (data[i].type === 'R') {
              data[i].label = 'Reintegro';
            }
          }
          this.transactions = data;
          this.error = null;
        }

        doObjectAmount(amount) {
          var objectAmount = {'value': amount, 'currency': 'EUR'};
          return objectAmount;
        }
        doObjectAccountAmount(accountAmount) {
          var objectAccountAmount = {'value': accountAmount, 'currency': 'EUR'};
          return objectAccountAmount;
        }

        doTransactionVisualizeError(error) {
          console.log('error.msg: ' + error.msg);
          if (error.msg === null) {
            this.error = 'Se ha producido un error técnico. Por favor, vuelve a intentarlo más tarde';
          } else {
            this.error = error.msg;
          }
        }

        _onNewOperation() {

          var transaction = {
            'account': this.transactions[0].IBAN,
            'accountAmount': this.transactions[0].accountAmount
          };

          console.log('transaction.account: ' + transaction.account);
          console.log('transaction.accountAmount: ' + transaction.accountAmount);

          this.dispatchEvent(new CustomEvent('doViewCashTransaction', {detail: transaction}));
        }

        _onCurrencyConvert() {

          var currencyConvert = {
            'account': this.transactions[0].IBAN,
            'accountAmount': this.transactions[0].accountAmount
          };

          console.log('currencyConvert.account: ' + currencyConvert.account);
          console.log('currencyConvert.accountAmount: ' + currencyConvert.accountAmount);

          this.dispatchEvent(new CustomEvent('doViewCurrencyTransaction', {detail: currencyConvert}));
        }

        _onGoAccounts(data) {
          console.log('onClick ir a mis cuentas');
          this.dispatchEvent(new Event('doGoAccounts'));
        }

        _onDeleteAccount() {
          console.log('onClick borrar cuenta: ' + this.transactions[0].IBAN);
          var account = {
            'Iban': this.transactions[0].IBAN,
          };
          this.dispatchEvent(new CustomEvent('doClickDeleteAccount', {detail: account}));
        }
      }
      customElements.define(TransactionVw.is, TransactionVw);
    }
  </script>
</dom-module>
